h1 {
    background: currentColor;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-bottom: 60px;
}

.header {
    color: white;
    padding-left: 20px;
    font-style: oblique;
    margin-top: 40px;
}

.thead-tabela-series-topo {
    background: whitesmoke;
}

.img-tabela-series {
    width: 22px;
    height: 22px;
}

.thead-tabela-series-footer {
    background: whitesmoke;
}

#th-coluna-acoes-tabela-series {
    text-align: center;
}

#td-coluna-acoes-tabela-series {
    text-align: end;
}

#btn-destroy {
    display: inline !important;
}


#btn-update {
    display: inline !important;
}
